/* Roboto Regular */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Roboto Bold */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Roboto Black */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Black.ttf");
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --color-dark-green: #23424a;
  --color-green: #136c72;
  --color-light-green: #38cfd9;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;

  color: white;
  font-family: "Roboto";
}

.bold {
  font-weight: bold;
}

.black {
  font-weight: 900;
}

.background {
  background-color: var(--color-dark-green);

  padding-block: 2rem;
}

a {
  display: inline-block;
  color: var(--color-dark-green);
  background-color: var(--color-light-green);
  padding: 1rem;
  border-radius: 2rem;
  text-transform: uppercase;
  text-decoration: none;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.container > p {
  width: 50%;
}

.test {
  margin-bottom: 2rem;
}
